
.detailbox {
    border-style:solid; 
    border-width: 1px; 
    border-color: #eeeeee; 
    padding: 5px; 
    background-color: #f9fafd;
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
}

.messagedetail {
    border-style:solid; 
    border-width: 1px; 
    border-color: #eeeeee; 
    padding: 5px; 
    background-color: white;
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
}

.tableform th {
    padding-left: 10px;
}

.tableformheader {
    text-align: left;
    font-size: 18px;
}
