
.detailbox {
    border-style:solid; 
    border-width: 1px; 
    border-color: #eeeeee; 
    padding: 5px; 
    background-color: #f9fafd;
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
}
