{% comment %}

This file is part of Rsyslog Mysql Web, Copyright 2012 Nathan Lewis <natewlew@gmail.com>

    Rsyslog Mysql Web is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 2 of the License, or
    (at your option) any later version.

    Rsyslog Mysql Web is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Rsyslog Mysql Web.  If not, see <http://www.gnu.org/licenses/>.
    
{% endcomment %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Rsyslog Mysql Web</title>
<!-- Jquery -->
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery/jquery-ui-1.8.21.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/jquery/overcast/jquery-ui-1.8.21.custom.css" />
<!-- Flexgrid -->
<script type="text/javascript" src="{{ MEDIA_URL }}js/flexigrid/flexigrid.pack.js"></script>
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/flexigrid/flexigrid.pack.css" />
<!-- JqPlot -->
<script type="text/javascript" src="{{ MEDIA_URL }}js/jqplot/jquery.jqplot.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jqplot/jqplot.canvasTextRenderer.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jqplot/jqplot.canvasAxisLabelRenderer.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jqplot/jqplot.categoryAxisRenderer.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jqplot/jqplot.canvasAxisTickRenderer.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jqplot/jqplot.barRenderer.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jqplot/jqplot.pieRenderer.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jqplot/jqplot.json2.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/jqplot/jquery.jqplot.min.css" />
<!-- Rsyslog Mysql Web -->
<script type="text/javascript" src="{{ MEDIA_URL }}js/common.js"></script>
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/style.css" />
</head>
<body>
<script type="text/javascript">
              
    var sitelink = "{{SITE_URL}}";
    
    var width = 1470;
    var height = 520;
    
    var chartwidth = 900;
    var chartheight = 420;
          
    $(function() {
    
        // Button Definitions
        $( "#show_charts" ).button();
        $( "#submit" ).button();
        $( "#clear" ).button();
        $( "#clear_devicereportedtime_start" ).button({
            icons: {
                primary: "ui-icon-arrowthickstop-1-w"
            },
            text: false
        });
        
        
        
        // Set Time
        setTimeOnElem('refresh_time');
        
        // Create Chart Dialog
        $( "#dialog-modal" ).dialog({
			height: 520,
			width: 1000,
			modal: true,
			autoOpen: false
		});
		
		// Create Flexigrid
        $("#rsyslog").flexigrid({
                url: sitelink + 'ajax',
                method: 'GET',
                dataType: 'json',
                colModel : [
                        {display: 'ID', name : 'id', width : 40, sortable : true, align: 'left'},
                        {display: 'Date', name : 'devicereportedtime', width : 130, sortable : true, align: 'left'},
                        {display: 'Age (D,H,M)', name : 'age', width : 70, sortable : false, align: 'center'},
                        {display: 'Facility', name : 'facility', width : 120, sortable : true, align: 'left'},
                        {display: 'Priority', name : 'priority', width : 70, sortable : true, align: 'left'},
                        {display: 'Fromhost', name : 'fromhost', width : 150, sortable : true, align: 'left'},
                        {display: 'Syslogtag', name : 'syslogtag', width : 150, sortable : true, align: 'left'},
                        {display: 'Message', name : 'message', width : 640, sortable : true, align: 'left'},
                        {display: 'Messagefull', name : 'messagefull', width : 250, sortable : true, align: 'left',hide: true}
                ],
                sortname: "id",
                sortorder: "desc",
                usepager: true,
                useRp: true,
                rp: 20,
                showTableToggleBtn: false,
                resizable: false,
                width: width,
                height: height,
                singleSelect: true,
                onSubmit : function(){ // Add extra form parameters to query
                                        $('#rsyslog').flexOptions({params: [{name:'callId', value:'rsyslog'}].concat($('#fmFilter').serializeArray())});
                                        return true;
                                    },
                onSuccess: gridFormat 
        });
        
        // Set the Text for the Event Detail
        $('#rsyslog').click(function(event){
            $('.trSelected', this).each( function(){
            
                    var devicereportedtime = $('td[abbr="devicereportedtime"] >div', this).html()
                    var facility = $('td[abbr="facility"] >div', this).html()
                    var priority = $('td[abbr="priority"] >div', this).html()
                    var fromhost = $('td[abbr="fromhost"] >div', this).html()
                    var syslogtag = $('td[abbr="syslogtag"] >div', this).html()
                    var messagefull = $('td[abbr="messagefull"] >div', this).html()
                    
                    setDetailText(messagefull, fromhost, devicereportedtime, priority, syslogtag, facility);
                    
                    // Select the Event Detail Tab
                    $( "#tabs" ).tabs('select', 1);
                });
        });
        
        // Jquery UI Tabs for Query and Event Detail
        $( "#tabs" ).tabs();
        
        // Jquery UI Datepickers
        $( "#devicereportedtime_start" ).datepicker({ dateFormat: "yy-mm-dd"});
        $( "#devicereportedtime_end" ).datepicker({ dateFormat: "yy-mm-dd"});

    }); 
    
    // Format the Priority Column
    function gridFormat() {
        var lblPriority = { 
                'Emergency' : { 
                        css: 'priority-emergency'
                },
                'Alert' : { 
                        css: 'priority-alert'
                },
                'Critical' : { 
                        css: 'priority-critical'
                },
                'Error' : { 
                        css: 'priority-error'
                },
                'Warning' : { 
                        css: 'priority-warning'
                },
                'Notice' : { 
                        css: 'priority-notice'
                },
                'Informational' : { 
                        css: 'priority-informational'
                },
                'Debug' : { 
                        css: 'priority-debug'
                }
                
        }; 
        $('#rsyslog tr').each( function(){
                if (this.id != '')
                {
                var cell = $('td[abbr="priority"] >div', this);
                //$(this).addClass( lblPriority[cell.text()].css );
                cell.addClass( lblPriority[cell.text()].css );
                //cell.html( lblPriority[cell.text()].html );
                //cell.text( lblPriority[cell.text()].txt ); 
                }
        });
        return true;
    }
    
    // Reload Flexigrid
    function reload() {
         $('#rsyslog').flexReload();
    }
    
    // Open Chart Dialog
    var openMyDialog = function() {
        $("#dialog-modal").dialog('open')
        document.getElementById('chartcolumn').value = ""; 
        document.getElementById('charttype').value = "line";
        document.getElementById('chartwidth').value = chartwidth; 
        document.getElementById('chartheight').value = chartheight;
        
        $('#rsyslog_chart_placeholder').html('');
    }
    
    //////////////////////////////////////
    // Charts
    var drawChart = function(){
      
      var mycharttype = $("#charttype").val();
      var mychartcolumn = $("#chartcolumn").val();
      
      // If chart column is empty, exit function
      if(mychartcolumn == "") {     
        return;
      }
      
      // Fill the placeholder with the chart div.
      $('#rsyslog_chart_placeholder').html('<div id="rsyslog_chart" style="width: ' + chartwidth + 'px ; height: ' + chartheight + 'px ;"></div>');
        
        var ajaxDataRenderer = function(url, plot, options) {
            var ret = null;
            $.ajax({
                // have to use synchronous here, else the function 
                // will return before the data is fetched
                async: false,
                url: url,
                dataType:"json",
                success: function(data) {
                    ret = data;
                }
            });
            return ret;
        };

        // The url for our json data
        var jsonurl = getChartUrl(mychartcolumn);
        
        // Get the Animate Value
        var myAnimate = function() {
        
            var myAnimateVal = $("#animate:checkbox:checked").val();
            //$('input:checkbox:checked').val();
            
            if(myAnimateVal == "1") {
                return true;
            } else {
                return false;
            }
        }
        
        // Chart Type Renderer (Pie,Line,Bar)
        var myRender = function() {
            
            if(mycharttype == 'bar') {
                return {
                        renderer:$.jqplot.BarRenderer, 
                        rendererOptions: 
                            {
                             smooth: true,
                              animation: 
                                { 
                                   show: myAnimate() 
                                }
                              }
                        };
                        
            } else if(mycharttype == 'pie') {
                return {
                        renderer:$.jqplot.PieRenderer, 
                           rendererOptions: 
                                    {
                                      showDataLabels: true
                                    }
                        };
            } else {
                return {
                        renderer:$.jqplot.LineRenderer, 
                        rendererOptions: 
                            {
                                smooth: true, 
                                animation: 
                                    { 
                                        show: myAnimate() 
                                    }
                             }
                        };
            }
        }
        
        // Set chart axis settings. Disable if Pie
        var myAxis = function() {
        
            if(mycharttype == 'pie') {
                return;
            } else {
            
                return {
                    xaxis: {
                      labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
                      renderer: $.jqplot.CategoryAxisRenderer,
                      //label: mychartcolumn,
                      tickRenderer: $.jqplot.CanvasAxisTickRenderer,
                      tickOptions: {
                          angle: -30,
                          fontFamily: 'Courier New',
                          fontSize: '9pt'
                      }             
                    },
                    yaxis: {
                      label: 'Count',
                      labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
                      //forceTickAt100: true 
                    }    
                }
            
            }
        }
        
        // Get the Legend. Show if pie
        var myLegend = function() {
        
            if(mycharttype == 'pie') {
                return { show:true, location: 'e' }
            } else {
                return { show:false }
            }
        }

        // Load the Chart Using the Json Url
        var plot2 = $.jqplot('rsyslog_chart', jsonurl,{
            //title: "JqPlot Chart",
            dataRenderer: ajaxDataRenderer,
            dataRendererOptions: {
                unusedOptionalUrl: jsonurl
            },
            series:[myRender()],
            axes: myAxis(),
            legend: myLegend(),
        });
  
      }
      
      // Change Chart Width
      var changeChartWidth = function(width) {
        chartwidth = width;
        drawChart();
      }
      
      // Change Chart height
      var changeChartHeight = function(height) {
        chartheight = height;
        drawChart();
      }


</script>

<h1>Rsylog Mysql Web</h1>
<div id="dialog-modal" title="JqPLot Chart">
    <div>
        <form name="chart_form">
            <select name="charttype" id="charttype" onchange="drawChart()">
                <!-- <option value="">Select Chart Type</option> -->
                <option value="line">Line</option>
                <option value="bar">Bar</option>
                <option value="pie">Pie</option>
            </select>
            <select name="chartcolumn" id="chartcolumn" onchange="drawChart()">
                <option value="">Select Column</option>
                <option value="priority__severity">Priority</option>
                <option value="facility__facility">Facility</option>
                <option value="fromhost">Host</option>
                <option value="syslogtag">Tag</option>
                <option value="devicereportedtime">Date</option>
              </select>
              Width: <select name="chartwidth" id="chartwidth" onchange="changeChartWidth(this.value)">
                <option value="400">400</option>
                <option value="700">700</option>
                <option value="900" selected="selected">900</option>
                <option value="1200">1200</option>
                <option value="1500">1500</option>
              </select>
              Height: <select name="chartheight" id="chartheight" onchange="changeChartHeight(this.value)">
                <option value="300">300</option>
                <option value="420" selected="selected">420</option>
                <option value="700">700</option>
                <option value="1000">1000</option>
              </select>
              Animate: <input type="checkbox" name="animate" id="animate" checked="checked" value="1" />
        </form>
    </div>
    <div id="rsyslog_chart_placeholder"></div>
</div>
<div id="outer">
    <div id="rsyslog" ></div>
</div>
<div id="tabs" style="width: 1460px;">
	<ul>
	    <li><a href="#tabs-1">Query Builder</a></li>
		<li><a href="#tabs-2">Event Detail</a></li>
	</ul>
	<div id="tabs-1">
		<div class="detailbox">
        <form action="" id="fmFilter" onsubmit="return formsubmit();">
          <table cellpadding="0" cellspacing="0" class="tableform">
          <tr>
          <th colspan="3" rowspan="2" class="tableformheader">Query Builder</th>
          <th>Start Date:</th>
          <td><input type="text" name="devicereportedtime_start" size="20" id="devicereportedtime_start" /></td>
          <td><input type="button" name="clear_devicereportedtime_start" id="clear_devicereportedtime_start" value="&lt;" onclick="clear_input('devicereportedtime_start')" /></td>
          <th>End Date:</th>
          <td><input type="text" name="devicereportedtime_end" size="20" id="devicereportedtime_end" /></td>
          <td><input type="button" name="clear_devicereportedtime_end" value="&lt;" onclick="clear_input('devicereportedtime_end')" /></td>
          <th>Facility:</th>
          <td><input type="text" name="facility" size="20" id="facility" /></td>
          <td><input type="button" name="clear_facility" value="&lt;" onclick="clear_input('facility')" /></td>
          <th rowspan="2">Message:</th>
          <td rowspan="2"><textarea name="message" id="message" cols="50" rows="2"></textarea></td>
          <td rowspan="2"><input type="button" name="clear_message" value="&lt;" onclick="clear_input('message')" /></td>
          </tr>
          <tr>
          <th>Host:</th>
          <td><input type="text" name="fromhost" size="20" id="fromhost" /></td>
          <td><input type="button" name="clear_fromhost" value="&lt;" onclick="clear_input('fromhost')" /></td>
          <th>Priority:</th>
          <td><input type="text" name="priority" size="20" id="priority" /></td>
          <td><input type="button" name="clear_priority" value="&lt;" onclick="clear_input('priority')" /></td>
          <th>Tag:</th>
          <td><input type="text" name="syslogtag" size="20" id="syslogtag" /></td>
          <td><input type="button" name="clear_syslogtag" value="&lt;" onclick="clear_input('syslogtag')" /></td>
          </tr>
          <tr>
          <td colspan="4"><input type="button" name="show_charts" id="show_charts" value="Show Charts" onclick="openMyDialog()" /></td>
          <td colspan="13" align="right">
              <table>
              <tr>
              <th>SQL Operator:</th>
              <td><select name="operator" id="operator">
                <option value="or">Or</option>
                <option value="and">And</option>
              </select></td>
              <td><input type="submit" name="submit" id="submit" value="Submit" /></td>
              <td><input type="button" name="clear" id="clear" value="Clear Form" onclick="clear_form()" /></td>
              <th>Refresh:</th>
              <td><select id="refresh" onchange="setTimer(this.value)">
                <option value="">Off</option>
                <option value="10000">10 sec</option>
                <option value="20000">20 sec</option>
                <option value="30000">30 sec</option>
                <option value="45000">45 sec</option>
                <option value="60000">1 min</option>
                <option value="90000">1 1/2 min</option>
                <option value="120000">2 min</option>
                <option value="300000">5 min</option>
              </select></td>
              <th colspan="2">Time: (<i id="refresh_time"></i>) </th>
              <th>Export:</th>
              <td><select name="export" id="export" onchange="export_to_spreadsheet(this.value)">
                <option value=""></option>
                <option value="csv">CSV</option>
              </select></td>
              </tr>
              </table>
          </td>
          </tr>
          </table>
        </form>
        </div>
	</div>
	<div id="tabs-2">
		<div class="detailbox">
        <p>
        <i id="date_detail">&nbsp;</i><br />
        <i id="facility_detail">&nbsp;</i><br />
        <i id="host_detail">&nbsp;</i><br />
        <i id="priority_detail">&nbsp;</i><br />
        </p>
        <p id="tag_detail">&nbsp;</p>
        <div class="messagedetail" id="message_detail">Select a Row to See the Detail.</div>
        </div>
	</div>
</div>
<div class="footer"><a href="https://github.com/natewlew/Rsyslog-Mysql-Web">Rsyslog-Mysql-Web on Github</a></div>
</body>
</html>

