<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<style type="text/css">
</style>
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/gvis/gvis_rsyslog.js"></script>
</head>
<body>
<script type="text/javascript">
    
    var dataSourceUrl = '{{ SITE_URL }}rsyslogjson';
    var elementID = 'rsyslog';
    var default_page = 20;
    var showRowNumber = true;
    var query, options, container;

</script>

<h1>Rsylog Mysql Web</h1>
<form action="">
  Rows per page:
  <select onChange="setOption('pageSize', parseInt(this.value, 10))">
    <option value="20">20</option>
    <option value="30">30</option>
    <option value="50">50</option>
    <option value="75">75</option>
    <option value="100">100</option>
  </select>
  <input type="button" name="reset" value="Reset" onClick="init()">
</form>
<br />
<div id="rsyslog" ></div>
<h3>Event Detail</h3>
<div style="border-style:solid; border-width: 1px; border-color: light-grey; padding: 5px;">
<p>
<i id="date_detail"></i> 
<i id="host_detail"></i> 
<i id="priority_detail"></i>
</p>
<p id="tag_detail"></p>
<p>
<b id="message_detail"></b>
</p>
</div>
</body>
</html>

