{% extends "dojango/base_i18n.html" %}

{% block dojango_content %}

{% load i18n %}

{% load datable_tags %}
{% datable_init %}
{% datable_preloader %}

<h1>{% trans "Rsylog Mysql Web" %}</h1>

<script type="text/javascript">
dojo.require("dijit.layout.TabContainer");
dojo.require("dijit.layout.ContentPane");
dojo.require("dijit.TitlePane")
</script>

<hr size="1" />

     {% datable_refresh_button first_table %}
     {% datable_xls_button first_table %}
     {% datable_csv_button first_table %}
     {% datable_clear_all_filters_button first_table %}
     <hr />

<div dojoType="dijit.TitlePane" title="{% trans "Filters" %}" width="90%;">
     {% datable_widget first_table fromhost %}
    {% datable_widget first_table syslogtag %}
    {% datable_widget first_table message %}
    {% datable_widget first_table facility %}
    {% datable_widget first_table priority %}
     <br />
    {% datable_widget first_table devicereportedtime_gte %}
    {% datable_widget first_table devicereportedtime_lte %}
    <br />
    {% datable_widget first_table periodic %}
</div>

     {% datable first_table %}
     {% datable_href_on_click first_table %}

     <div id="first_tableGridContainer" style="height:500px;"></div>

{% endblock %}
