<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Rsyslog Mysql Web</title>
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/gvis/gvis_rsyslog.js"></script>
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/style.css" />
</head>
<body>
<script type="text/javascript">
    
    var dataSourceUrl = '{{ SITE_URL }}rsyslogjson';
    var elementID = 'rsyslog';
    var default_page = 20;
    var showRowNumber = true;
    var query, options, container;

</script>

<h1>Rsylog Mysql Web</h1>
<div class="detailbox">
<form action="" onSubmit="return formsubmit();">
  <table cellpadding="0" cellspacing="0" class="tableform">
  <tr>
  <th colspan="3" rowspan="2" class="tableformheader">Query Builder</th>
  <th>Start Date:</th>
  <td><input type="text" name="devicereportedtime_start" size="20" id="devicereportedtime_start"></td>
  <td><input type="button" name="clear_devicereportedtime_start" value="<" onClick="clear_input('devicereportedtime_start')"></td>
  <th>End Date:</th>
  <td><input type="text" name="devicereportedtime_end" size="20" id="devicereportedtime_end"></td>
  <td><input type="button" name="clear_devicereportedtime_end" value="<" onClick="clear_input('devicereportedtime_end')"></td>
  <th>Facility:</th>
  <td><input type="text" name="facility" size="20" id="facility"></td>
  <td><input type="button" name="clear_facility" value="<" onClick="clear_input('facility')"></td>
  <th rowspan="2">Message:</th>
  <td rowspan="2"><textarea name="message" id="message" cols="50" rows="2"></textarea></td>
  <td rowspan="2"><input type="button" name="clear_message" value="<" onClick="clear_input('message')"></td>
  </tr>
  <tr>
  <th>Host:</th>
  <td><input type="text" name="fromhost" size="20" id="fromhost"></td>
  <td><input type="button" name="clear_fromhost" value="<" onClick="clear_input('fromhost')"></td>
  <th>Priority:</th>
  <td><input type="text" name="priority" size="20" id="priority"></td>
  <td><input type="button" name="clear_priority" value="<" onClick="clear_input('priority')"></td>
  <th>Tag:</th>
  <td><input type="text" name="syslogtag" size="20" id="syslogtag"></td>
  <td><input type="button" name="clear_syslogtag" value="<" onClick="clear_input('syslogtag')"></td>
  </tr>
  <tr>
  <td colspan="3">&nbsp;</td>
  <td colspan="14" align="right">
      <table>
      <tr>
      <th>SQL Operator:</th>
      <td><select name="operator" id="operator">
        <option value="or">Or</option>
        <option value="and">And</option>
      </select></td>
      <td><input type="submit" name="submit" value="Submit"></td>
      <td><input type="button" name="reset" value="Reset" onClick="reset_page()"></td>
      <td><input type="button" name="clear" value="Clear Form" onClick="clear_form()"></td>
      <th>Rows per page:</th>
      <td><select id="pagesize" onChange="setOption('pageSize', parseInt(this.value, 10))">
        <option value="20">20</option>
        <option value="30">30</option>
        <option value="50">50</option>
        <option value="75">75</option>
        <option value="100">100</option>
      </select></th>
      <th>Refresh:</th>
      <td><select id="refresh" onChange="setTimer(this.value)">
        <option value="">Off</option>
        <option value="10000">10 sec</option>
        <option value="20000">20 sec</option>
        <option value="30000">30 sec</option>
        <option value="45000">45 sec</option>
        <option value="60000">1 min</option>
        <option value="90000">1 1/2 min</option>
        <option value="120000">2 min</option>
        <option value="300000">5 min</option>
      </select></th>
      <th colspan="2">Time: (<i id="refresh_time"></i>) </th>
      <th>Export:</th>
      <td><select id="export" onChange="export_to_spreadsheet(this.value)">
        <option value=""></option>
        <option value="csv">CSV</option>
        <option value="tsv">TSV (Excel)</option>
      </select></td>
      </tr>
      </table>
  </td>
  </tr>
  </table>
</form>
</div>
<div id="rsyslog" ></div>
<h3>Event Detail</h3>
<div class="detailbox">
<p>
<i id="date_detail"></i><br />
<i id="facility_detail"></i><br />
<i id="host_detail"></i><br />
<i id="priority_detail"></i><br />
</p>
<p id="tag_detail"></p>
<div class="messagedetail" id="message_detail"></div>
</div>
</body>
</html>

